<div class="container p-3">
    <h2>Shift information for the week</h2>
    <table class="table">
        <thead>
            <tr>
                <th class="bg-secondary text-white p-3">Over booked</th>
                <th class="bg-primary text-white p-3">Fully booked</th>
                <th class="bg-warning text-white p-3">Waiters Needed</th>
            </tr>
        </thead>
        <thead>
            <tr>
                {{#each shiftInformation}}
                <th class="{{status}}" style="width: 100px;">{{weekday}}</th>
                {{/each}}
            </tr>
        </thead>
        <tbody>
            <tr>
                {{#each shiftInformation}}
                <td>
                    <ul class="text-left">
                        {{#each waiters}}
                        <li >
                            {{this}}
                        </li>
                        {{/each}}
                    </ul>
                </td>
                {{/each}}
            </tr>
        </tbody>
    </table>













    <div class="row my-5">
        <div class="mx-auto">
            <form action="/" method="get" class="mb-5">
                <button type="submit" class="btn btn-dark">Home</button>
            </form>
            <form action="/days" method="post">
                <button type="submit" class="btn btn-danger">Reset Shifts</button>
            </form>
        </div>
    </div>
</div>