<div class="container">
    <div class="row my-3">
        <div class="col-lg-4 legend bg-secondary text-white">
            <h3>Overbooked</h3>
        </div> 
        <div class="col-lg-4 legend bg-primary text-white">
            <h3>Fully Booked</h3>
        </div>
        <div class="col-lg-4 legend bg-warning text-white">
            <h3>Needs Waiters</h3>
        </div>
        
    </div>
    <div class="row">
    <div class="col-lg-6 mx-auto">
        {{#each shiftInformation}}
        <ul class="list-group list-group-flush">
            <li class="list-group-item {{status}}">
                <h4 class="">{{weekday}}</h4>
            </li>
            {{#each waiters}}
            <li class="list-group-item">{{this}}</li>
            {{/each}}
        </ul>
        {{/each}}
    </div>
</div>

<div class="row my-5">
    <div class="mx-auto">
        <form action="/days" method="post">
            <button type="submit" class="btn btn-dark">Reset Shifts</button>
        </form>
    </div>
</div>
</div>



