<div class="mx-auto">
    <form action="/waiters" method="get" class="form-signin">
        <img class="mb-4"
            src="https://images.pexels.com/photos/4590419/pexels-photo-4590419.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
            alt="" width="100" height="100">
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        <label for="waiter" class="sr-only">Waiter Name</label>
        <input type="text" id="waiter" name="waiter" class="form-control" placeholder="John" required autofocus>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>